body {
    background-color: powderblue;
}

.importante{
    color: aqua;
    text-align: center;
}

h2{
    color: greenyellow;
    text-align: center;
}

p{
    color: chocolate;
    font-size:20px;
    text-align: justify;
}

#Pedro {
    color: yellow;
    font-size: 30px;
}